@page "/password"

@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject HttpClient Http;

@inject NavigationManager Navigation;

<PageTitle>Password</PageTitle>

<h3>Password</h3>

<label for="un">Enter Username for entry:</label><br />
<input type="text" @bind="@un" @oninput="@((e) => { un=(string)e.Value;})" /><br /> <br />
<label for="passwd">Enter password for entry:</label><br />
<input type="password" @bind="@passwd" @oninput="@((e) => { passwd=(string)e.Value;})" /><br /> <br />
<button class="btn btn-primary" @onclick=GoToAdminPage>Enter Password</button>

@code {
    private string un { get; set; } = "blazor";
    private string passwd { get; set; } = "blazor";

    private Passes[]? pass;

    public class Passes
    {
        public string? Username { get; set; }
        public string? Pass { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        pass = await Http.GetFromJsonAsync<Passes[]>("sample-data/passwords.json");
    }


    private void GoToAdminPage()
    {
        foreach(var info in pass)
        {
            if (un == info.Username) {
                if (passwd == info.Pass) {
                    Navigation.NavigateTo("FetchData");
                }
            }
        }
    }
}
